# Environment files
.env
.env.local
.env.*.local

# macOS files
.DS_Store

# Editor configs
.vscode/
.idea/

# Logs
*.log

*.pyc
__pycache__/

# Ignore local CA bundles
certifi-cacert.pem
cacert.pem



