# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
ENV/

# Python bytecode cache folders
*.egg-info/
.eggs/

# Distribution / packaging
build/
dist/
*.egg

# pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# mypy cache
.mypy_cache/

# pipenv
Pipfile.lock

# PyCharm
.idea/

# Environment variables
.env
